/**
 * Partial: _loader.scss
 * Purpose: Loading spinner and message styles
 * Features: Spinner animation, loader container
 * Usage: Import in style.scss
 * Dependencies: Uses variables from _variables.scss
 */
@use '../abstracts/variables' as *;

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 220px;
  width: 100%;
}

.loader-spinner {
  width: 48px;
  height: 48px;
  border: 5px solid $progress-bg;
  border-top: 5px solid $accent-purple;  // Purple spinner
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: $margin-lg;  // 16px
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-message {
  font-size: 1.1em;
  color: $text-muted;  // #595959
  font-family: $font-alt;
}