// Bio connect section
@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.bio-page {
  .bio-connect {
    max-width: 1200px;
    margin: $gap-xl auto 0;
    text-align: center;

    h3 {
      font-family: $font-heading;
      @include font-size-xxl;
      color: $primary;
      margin-bottom: $gap-lg;
      font-weight: $weight-semibold;
      letter-spacing: $letter-spacing-tight;
    }

    // Social links styles are now in components/common/_social-links.scss
  }
}

html.dark-mode .bio-page {
  .bio-connect {
    h3 {
      color: $brand-primary-light;
    }
  }
}
